<form id="filterForm">
  <div class="filter-group">
    <h3>Brands</h3>
    <label><input type="checkbox" name="brand" value="Brand A" />
      Brand A</label>
    <label><input type="checkbox" name="brand" value="Brand B" />
      Brand B</label>
    <label><input type="checkbox" name="brand" value="Brand C" />
      Brand C</label>
    <label><input type="checkbox" name="brand" value="Brand D" />
      Brand D</label>
    <label><input type="checkbox" name="brand" value="Brand E" />
      Brand E</label>
    <label><input type="checkbox" name="brand" value="Brand F" />
      Brand Not Exsisted</label>
  </div>

  <div class="filter-group">
    <h3>Types</h3>
    <label><input type="checkbox" name="type" value="Electronics" />
      Electronics</label>
    <label><input type="checkbox" name="type" value="Clothing" />
      Clothing</label>
    <label><input type="checkbox" name="type" value="Home Appliances" />
      Home Appliances</label>
  </div>

  <button type="submit">Apply Filters</button>
</form>