<html>
  <head>
    <title>Admin login</title>
  </head>
  <body>
    <h2>Admin login</h2>
    <form action="/admin/login" method="post">
      <input type="username" name="username" placeholder="Username" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
  </body>
</html>