<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- Other head elements -->
</head>
<body>
    {{> navigation}} <!-- This includes the navigation partial -->

    {{{body}}} <!-- This is where your page content will go -->
</body>
</html>
