.container {
  width: 80%;
  margin: auto;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Creates three columns of equal width */
  grid-gap: 20px; /* Space between rows and columns */
  padding: 20px; /* Optional: Padding around the entire grid */
  max-width: 1200px; /* Optional: Max width of the grid */
  margin: auto; /* Optional: Center the grid horizontally */
}

.product-item {
  border: 1px solid #ccc; /* Optional: Border for each product */
  padding: 10px; /* Optional: Padding inside each product */
  text-align: center; /* Aligns the text to the center */
}

.product-item img {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains the aspect ratio of the image */
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a,
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
}

.pagination button:disabled {
  color: #aaa;
}

@media (max-width: 800px) {
  .product-gallery {
    grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
  }
}

@media (max-width: 500px) {
  .product-gallery {
    grid-template-columns: 1fr; /* One column on small screens */
  }
}
